@media screen and (max-width: 400px) {
  /* gallery page */
  #gallery li{
     margin:5%;
     width: 90%; 
  }
}

@media screen and (min-width:401px){

  
/* gallery page */
  #gallery li{
     width: 45%; 
  }
}

@media screen and (min-width:730px){
   /* gallery page */
  #gallery li{
     width: 28.3%; 
  }
  
 /* header */
  nav {
    float:right;
    background:none;
    width:50%;
    text-align:right;
    font-size: 1.25em;
    margin-right:5%;
    padding-top:0;
  }
  
  #logo {
    background:none;
    float:left;
    width:40%;
    text-align:left;
    margin-left:5%;
    padding-top:0;
    margin-top:-25px;
    margin-bottom:20px;
  }
  
  header{
    border-bottom: solid 7px #599a68;
    margin-bottom: 60px;
  }
  
  h1{
    font-size:2.15em; 
  }
  
  h2{
    font-size:0.85em; 
  }

/* contact page*/
  #primary{
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%; 
    float:right;
  }


/*About page*/
#profile-pic {
  float: left;
  margin-right: 5%;
  margin-top: -10px;
 }
}